@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');


$hourHandWidth: 10px;
$hourHandHeight: 80px;
$minHandWidth: 8px;
$minHandHeight: 120px;
$secHandWidth: 3px;
$secHandHeight: 150px;
$colorBorder: #212121;
$colorBgc: #f0f0f0;
$colorCenter: #c91414;

body {
    margin: 0 auto;
    font-family: Kanit, Helvetica, sans-serif;
    background-color: $colorBgc;
    width: 100wh;
    color: $colorBorder;
}

.main {
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 3em;
    text-align: center;

    .clock-digital {
        margin: 0 auto;
        padding: 20px;
        padding: 20px;
        width: 300px;
        height: 50px;
    }

    .clock__analogue {
        margin: 0 auto;
        padding: 5px;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background: url(../images/face.png) center center, url(../images/CenterMark.png) center center;
        background-size: cover;
        position: relative;

        .clock-h {
            position: absolute;
            width: $hourHandWidth;
            height: $hourHandHeight;
            background-color: $colorBorder;
            top: calc(50% - 75px);
            left: calc(50% - 2px);
            transform-origin: 50% 75px;
            border-radius: 30px;
            // transform: rotate(30deg);
            z-index: -1;
        }

        .clock-m {
            position: absolute;
            width: $minHandWidth;
            height: $minHandHeight;
            background-color: $colorBorder;
            top: calc(50% - 100px);
            left: calc(50% - 2px);
            transform-origin: 50% 100px;
            border-radius: 30px;
            // transform: rotate(60deg);
            z-index: -1;
        }

        .clock-s {
            position: absolute;
            width: $secHandWidth;
            height: $secHandHeight;
            background-color: $colorCenter;
            top: calc(50% - 130px);
            left: calc(50% - 2px);
            transform-origin: 50% 130px;
            // transform: rotate(100deg);
            z-index: -1;
        }

        .clock-md {
            position: absolute;
            top: 65%;
            left: 43%;
            font-size: 1rem;
        }

        .clock-d {
            position: absolute;
            top: 72%;
            left: 44%;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
        }
    }

}