$hourHandWidth: 4px;
$hourHandHeight: 80px;
$minHandWidth: 3px;
$minHandHeight: 120px;
$secHandWidth: 3px;
$secHandHeight: 150px;

@mixin HourHand {
    
}

@mixin MinHand {
    
}

@mixin SecHand {
    
}

@mixin MonthDate {
    
}

@mixin WeekDay {
    
}

@mixin ClockTemplate {
    
}

body {
    margin: 0 auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #292929;
}

.main {

    display: flex;
    flex-direction: row;
    margin: 50px;
    color: #fff;
    background-color: #292929;
    color: #fff;
    font-size: 3em;
    text-align: center;

    .clock-digital {
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
        width: 300px;
        height: 50px;
    }

    .clock__analogue {
        margin: 0 auto;
    margin-top: 5px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #292929 url(../face.png) center center;
    background-size: cover;
    color: #fff;
    position: relative;

        .clock-h {
            position: absolute;
                width: $hourHandWidth;
                height: $hourHandHeight;
                background-color: #FFA300;
                top: calc(50% - 75px);
                left: calc(50% - 2px);
                transform-origin: 50% 75px;
                // transform: rotate(30deg);
            z-index: 3;
        }

        .clock-m {
            position: absolute;
            width: $minHandWidth;
            height: $minHandHeight;
            background-color: #FFA300;
            top: calc(50% - 100px);
            left: calc(50% - 2px);
            transform-origin: 50% 100px;
            // transform: rotate(60deg);
            z-index: 2;
        }

        .clock-s {
            position: absolute;
    width: $secHandWidth;
    height: $secHandHeight;
    //background-color: #11111152;
    top: calc(50% - 130px);
    left: calc(50% - 2px);
    transform-origin: 50% 200px;
    // transform: rotate(100deg);
    z-index: 3;
        }

        .clock-md {
            position: absolute;
    top: 65%;
    left: 40%;
    font-family: Helvetica;
    font-size: 1rem;
        }

        .clock-d {
            position: absolute;
    top: 72%;
    left: 44%;
    font-family: Helvetica;
    font-size: 1rem;
        }
    }

}